<footer>
    <div>
        <div class="redStripe"></div>
        <div class="blueStripe"></div>
        <div class="redStripe" style="transform: skew(330deg) translate(295px);"></div>
        <div class="blueStripe" style="transform: skew(330deg) translate(345px);"></div>
    </div>

    <h4>Follow Us!</h4>

    <div class="socialMedia">
        <a href=""><img src="../images/facebook.png" alt="facebook"></a>
        <a href=""><img src="../images/Twitter.jpg" alt="Twitter"></a>
        <a href=""><img src="../images/instagram.png" alt="Instagram"></a>
        <a href=""><img src="../images/youtube.png" alt="youtube"></a>
    </div>

    <ul class="redirects" style="padding-left: 0px">
      <li class="redirects-item"><a href="#">Home</a></li>
      <li class="redirects-item"><a href="#">About Us</a></li>
      <li class="redirects-item"><a href="#">Terms & Conditions</a></li>
      <li class="redirects-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyrights">
      All Rights Reserved by Kevin-Christopher Laskai, Anna Moscoloni & Simon Stasovski © 2022 
    </p>
  </footer>