<header>
    <div id="site-header">
        <div id="logo-div">
            <image id="logo" src="#" alt="logo"></image>
        </div>
        <form>
            <input type="text" id="search" name="search" placeholder="Search...">
        </form>
        <span id="login">
            <span>
                <form action="/logout" method="get" role="form">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>
            </span>
        </span>
    </div>
    <nav>
        <div id="nav-form-btns">
            {{!-- Gets home page --}}
            <form method="get" action="/login">
                <input type="submit" value="Home" id="homeBtn">
            </form>

            {{!-- Gets form for adding a player --}}
            <form method="post" action="/user">
                <input type="submit" value="Add user" id="addBtn">
            </form>

            {{!-- Goes directly to list all input because no form is necessary --}}
            <form method="get" action="/users/list">
                <input type="submit" value="List All user" id="showAllBtn">
            </form>

            {{!-- Gets form to edit specific player entry --}}
            <form method="get" action="/user/updateuserpassword" >
                <input type="submit" value="Update User password" id="editBtn">
            </form>

            {{!-- Gets form to delete specific player entry --}}
            <form method="get" action="/user/deleteduser" >
                <input type="submit" value="Remove user" id="deleteBtn">
            </form>
        </div>
    </nav>
</header>