<header>
    <div id="site-header">
        <div id="logo-div">
            <image id="logo" src="#" alt="logo"></image>
        </div>
        <form>
            <div id="search">
                <select id="searchCategory">
                    <option>Card Name</option>
                    <option>User</option>
                </select>
                <input type="search" placeholder="Search..." id="searchBar">
            </div>
            {{!-- <input type="text" id="search" name="search" placeholder="Search..."> --}}
        </form>
        <span id="login">
            <span>
                <button>Log In</button>
                <p>or <a>create an account</a></p>
            </span>
        </span>
    </div>
    <nav>
        <div id="nav-form-btns">
            {{!-- Gets user's personnal cards page (hidden if not logged in) --}}
            <form method="get" action="/">
                <input type="submit" value="My Cards" id="myCardsBtn">
            </form>

            {{!-- Gets form for adding a player --}}
            <form method="get" action="/cards/sale">
                <input type="submit" value="Shop Cards" id="shopCardsBtn">
            </form>
        </div>
    </nav>
</header>