<header>
    <div id="site-header">
        <div id="logo-div">
            <image id="logo" src="#" alt="logo"></image>
        </div>
        <form method="get" action="/searchbar">
            <div id="search">
                <select id="searchCategory">
                    <option>Card Name</option>
                    <option>User</option>
                </select>
                <input type="hidden" id="searchBar" name="searchBar" value="true">
                <input type="search" placeholder="Search..." name="searchBarSearch" id="searchBarSearch">
                {{!-- attribution: <a href="https://www.flaticon.com/free-icons/search" title="search icons">Search
                    icons created by Smashicons - Flaticon</a> --}}
                <button type="submit" id="searchSubmit"><img src="../images/search.png"></button>
            </div>
            {{!-- <input type="text" id="search" name="search" placeholder="Search..."> --}}
        </form>
        <span id="cartSpan">
            <form method="get" action="/cart/items" id="shoppingCart">
                <button type="submit" id="cartSubmit"><img src="../images/shopping-cart.png"></button>
                {{!-- <a href="https://www.flaticon.com/free-icons/shopping-cart" title="shopping cart icons">Shopping
                    cart icons created by Freepik - Flaticon</a> --}}
                {{#if ../cartItemAmount}}
                <div id="cartItemAmount">{{cartItemAmount}}</div>
                {{/if}}
            </form>
        </span>
        <span id="login">
            <span>
                <button>Log In</button>
                <p>or <a>create an account</a></p>
            </span>
        </span>
    </div>
    <nav>
        <div id="nav-form-btns">
            {{!-- Gets user's personnal cards page (hidden if not logged in) --}}
            <form method="get" action="/">
                <input type="submit" value="My Cards" id="myCardsBtn">
            </form>

            {{!-- Gets form for adding a player --}}
            <form method="get" action="/cards/sale">
                <input type="submit" value="Shop Cards" id="cartBtn">
            </form>
        </div>
    </nav>
</header>