<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="../css/body-style.css">
    <link rel="stylesheet" href="../css/header-style.css">
    <link rel="stylesheet" href="../css/footer-style.css">
    <link rel="stylesheet" href="../css/main-page-style.css">
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="stylesheet" href="../css/show-cards-colours.css">
</head>
<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
</body>
</html>