<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="../css/body-style.css">
    <link rel="stylesheet" href="../css/header-style.css">
    <link rel="stylesheet" href="../css/footer-style.css">
    <link rel="stylesheet" href="../css/main-page-style.css">
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="stylesheet" href="../css/show-cards-colours.css">
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"> --}}
</head>
<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            changeLoginText();
        });

        function changeLoginText(){
            let decodedCookie = decodeURIComponent(document.cookie);
            let isSessionOpen = decodedCookie.includes( 'userName' );

            {{!-- console.log( isSessionOpen ); --}}
            let loginBtn = document.getElementById( 'logInBtn' ).getElementsByTagName( 'a' )[0];
            let createAccountHeaderLink = document.getElementById( 'createAccountHeaderLink' );
            let myCardsBtn = document.getElementById( 'myCardsBtn' );
            let shoppingCart = document.getElementById( 'cartSpan' );
            let myAccountBtn = document.getElementById( 'myAccountBtn' );

            {{!-- console.log( loginBtn ); --}}

            if( isSessionOpen ){
                loginBtn.innerHTML = 'Log Out';
                loginBtn.href = 'http://localhost:1339/logout';
                createAccountHeaderLink.style.display = 'none';
                myCardsBtn.style.display = 'block';
                myAccountBtn.style.display = 'block';
                shoppingCart.style.display = 'inline';
            }
            else{
                loginBtn.innerHTML = 'Log In';
                loginBtn.href = 'http://localhost:1339/login';
                createAccountHeaderLink.style.display = 'block';
                myCardsBtn.style.display = 'none';
                shoppingCart.style.display = 'none';
                myAccountBtn.style.display = 'none';
            }
        }

        let toggle = document.getElementById("animationsSlider");

        toggle.addEventListener('change', function() {
            document.cookie=`wantsAnimations=${toggle.checked}`;
            let cookieArgs = document.cookie.split('=');
            let cookieValue = cookieArgs[cookieArgs.length - 1];
            let card = document.getElementsByClassName("card");
            console.log(card[0])
            console.log(cookieValue);

            if(cookieValue == "true"){
                card[0].style.display = "block";
            }
            else{
                card[0].style.display = "none";
            }
        })
    </script>
</body>
</html>