<div id="aboutUsPage">
    <h2>About Us</h2>
    <p>
        We are a team of young entrepreneurs dedicated to cards hobby. We are a team of 3,
        Anna: Her interest is in storing and organizing her Pokémon card collection.
        Simon: His interest is in selling his rarest basketball cards on the market.
        Kevin: His interest is in expanding his Yu-Gi-Oh! collection by buying rare cards on the market.
        Our team decided to create this masterpiece to set precedence and to show the world that 3 young entrepreneurs
        where able to beat out site like eBay in the card industry.
    </p>
</div>