<body>
  <div class="AlertMessage">
    {{#if AlertMessage}}
      {{message}}
    {{/if}}
  </div>
  <div class="createAccountContainer">
    <form action="/createUser" method="post" role="form">
      <legend>Create an account</legend>
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" required /><br />
      <label for="password1">Password:</label><br />
      <input type="password" id="password1" name="password1" minlength="8" required /><br/>
      <label for="password2">re-enter Password:</label><br />
      <input type="password" id="password2" name="password2"minlength="8" type="password" required/><br/>
      <label for="password2">email</label><br/>
      <input id="email" type="email" name="email"required/>
      <button type="submit" class="btn btn-primary">Create account</button>
    </form>
      <form action="/login" method="get" role="form">
        <button type="submit" class="btn btn-primary">Or login</button>
      </form>
  </div>
</body>