<body>
  <div class="split left">
    <div class="centered">
      <form action="/cards" method="get" role="form">
        <button type="submit" class="btn btn-primary">My cards</button>
      </form>
      <form action="/Transactions" method="get" role="form">
        <button type="submit" class="btn btn-primary">Transactions history</button>
      </form>
      <form action="/user/:password" method="get" role="form">
        <button type="submit" class="btn btn-primary">Change password</button>
      </form>
      <form action="/sellcard" method="get" role="form">
        <button type="submit" class="btn btn-primary">Sell a card</button>
      </form>
      <form action="/userDeletion" method="get" role="form">
        <button type="submit" class="btn btn-primary">delete account</button>
      </form>
    </div>
  </div>
  <div class="split right">
    <div class="centered">
    {{#if AlertMessage}}
        {{message}}
    {{/if}}
      <form action="/userDeletion" method="post" role="form">
        <legend>Please enter your password to delete the account</legend>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          minlength="8"
          required
        />
        <button type="submit" class="btn btn-primary">DELTE ACCOUNT</button>
        <br />
      </form>
    </div>
  </div>
</body>