<body>
  <div class="AlertMessage">
  {{#if AlertMessage}}
    {{message}}
  {{/if}}
  </div>
  <div class="loginContainer">
    <form action="/loginUser" method="post" role="form">
      <legend>Please enter your username and password to login</legend>
      <label for="username">Username: </label>
      <input type="text" id="username" name="username" required /><br/>
      <label for="password">Password :</label>
      <input
        type="password"
        id="password"
        name="password"
        minlength="8"
        required
      />
      <button type="submit" class="btn btn-primary" onclick="changeLoginText()"></button><br/>
    </form>
    <form action="/create" method="get" role="form">
      <button type="submit" class="btn btn-primary">Or create a new account</button>
    </form>
  </div>
</body>