<body>
  <div class="container">
    <div class="left">
      <form action="/cards" method="get" role="form">
        <button type="submit" class="btn btn-primary">My cards</button>
      </form>
      <form action="/Transactions" method="get" role="form">
        <button type="submit" class="btn btn-primary">Transactions history</button>
      </form>
      <form action="/user/:password" method="get" role="form">
        <button type="submit" class="btn btn-primary">Change password</button>
      </form>
      <form action="/sellcard" method="get" role="form">
        <button type="submit" class="btn btn-primary">Sell a card</button>
      </form>
      <form action="/userDeletion" method="get" role="form">
        <button type="submit" class="btn btn-primary">delete account</button>
      </form>
    </div>
    <div class="right">
    {{#if AlertMessage}}
        {{message}}
    {{/if}}
      <form action="/user/:password" method="post" role="form">
        <legend>Update your Password</legend>
        <label for="oldpassword">old Password:</label>
        <input
          type="password"
          id="oldpassword"
          name="oldpassword"
          minlength="8"
          required
        />
        <label for="password1">new Password:</label>
        <input
          type="password"
          id="password1"
          name="newpassword1"
          minlength="8"
          required
        />
        <label for="password">re-enter new Password:</label>
        <input
          type="password"
          id="password2"
          name="newpassword2"
          minlength="8"
          required
        />
        <button type="submit" class="btn btn-primary"></button>
        <br />
      </form>
    </div>
  </div>
</body>