/* Anna */

#mainPage{
    display: flex;
    min-height: 400px;
}

/* #filterSidebar{
    text-align: center;
    width: 100px;
    height: 40px;
    overflow: hidden;
    border: solid black 1px;
    padding: 0.8em;
    animation-fill-mode: forwards;
    transition: width 3s, height 3s;
}

#filterSidebar:hover{
    text-align: left;
    width: 28%;
    height: 500px;
    border: solid black 1px;
    padding: 0.8em;
    animation-fill-mode: forwards;
} */

#filterSidebar{
    text-align: left;
    width: 28%;
    border: solid black 1px;
    padding: 1.6em;
}

#showCardsList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#showCardsList .card{
    width: 200px;
    height: 300px;
    border: solid black 1px;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 1.2em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#addCard.card{
    align-items: center;
}

.viewCardBtn{
    margin: 2em;
}

/* Filter Form */
#filterForm:nth-child(1){
    grid-area: opt1;
}

#filterForm:nth-child(2){
    grid-area: opt2;
}

#filterForm:nth-child(3){
    grid-area: opt3;
}


#filterForm{
    padding: 0.5em;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 100%;
    grid-template: 'opt1'
                   'opt2'
                   'opt3'
                   'submit';
}

#filterForm > *{
    margin-top: 1em;
    margin-bottom: 1em;
}

#filterSidebar h2{
    margin: 0;
}

.optionDiv{
    display: flex;
    flex-direction: column;
}

.optionDiv p{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.optionDiv label{
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.optionDiv:nth-of-type(2) label{
    margin-bottom: 0;
} 

#filterSubmit{
    grid-area: submit;
}

#priceRangeDiv, #conditionDiv{
    display: flex;
}

#priceRangeDiv p, #conditionDiv p{
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#noCardsToDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72%;
}

#noCardsToDisplay p{
    border: solid black 1px;
    border-radius: 0.5em;
    padding: 1em;
}


/* Expanded Card View */
#viewCardExpandedView, .popup-window{
    background-color: white;
    border: solid black 1px;
    border-radius: 0.5em;
    position: absolute;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.popup-window{
    right: 100px;
    width: 70%;
    height: 90%;
}

#exitDiv{
    flex: 1;
    margin: 0.5em;
    display: flex;
    justify-content: flex-end;
}

#exitDiv input{
    border: solid black 1px;
    border-radius: 100%;
    width: 40px;
    font-size: 17px;
}

#cardContentDiv{
    flex: 16;
    display: flex;
}
/* 
#description{
    height: 18%;
} */

#addCardForm{
    flex: 16;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addCardForm input, #addCardForm select, textarea{
    width: 33%;
    border-radius: 0.5em;
    padding: 0.6em;
    margin: 0.4em;
    border: solid gray 1px;
}

#ckbxSale{
    width: 33%;
    padding: 0.6em;
    font-size: 1em;
}

#addCardForm input #isForSale{
    margin: 0;
    padding: 0;
}

#addCardSection h2{
    flex: 2;
    margin: auto;
}

#addCardSection{
    padding: 1.4em;
}

#addCardForm #imageInputs{
    display: flex;
    margin: 0.8em;
    padding: 1em;
}

#imageInputs input{
    border: none;
    margin: 0.5em;
    width: 100%;
    margin-left: 0.5em;
}

#imageInputs span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#addCardBtn{
    padding: 0.5em;
}

.errorMsg{
    background-color: rgba(255, 0, 0, 0.6);
    padding: 0.3em;
}

#viewCardCol1{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 1.2em;
    align-items: center;
}

#imgDiv{
    border: solid black 1px;
    border-radius: 0.5em;
    flex: 5;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addToCartBtn{
    flex: 1;
    margin: 1.2em;
    /* max-height: 65px; */
    width: 100%;
    text-align: center;
}

#addToCartBtn button{
    height: 60%;
    width: 100%;
}


#viewCardCol2{
    flex: 3;
    display: flex;
    flex-direction: column;
    margin: 1.2em;
}

#aboutCard{
    flex: 1;
    border: solid black 1px;
    border-radius: 0.5em;
}

#aboutCard, #buyInfo{
    flex: 1;
    border: solid black 1px;
    border-radius: 0.5em;
    padding: 0.8em;
    margin: 0.8em;
}

#viewCardCol2 ul{
    list-style: none;
}

#viewCardCol2 h2{
    padding-left: 1.3em;
}

#viewCardCol2 li{
    padding: 0.3em;
}

